@import '../materialize-src/sass/materialize';
@import '_variables';

.btn {
  background-color: $blue;
}

.main-header, 
.footer {
  background-color: $pink;
}

body{
  font-family: 'Lato', sans-serif;
  font-size: 100%; 
  header {
    nav.main-header {
      div {
        a#brand-logo.brand-logo {

        }
        ul {
          li {
            a {
            }
          }
        }
      }
    }
  }
  main {
    
    section {
      h1 {

      }
      form {

      }
    }
    section#google-places-search-container.container {
      div.row {
        input#searchbox {

        }
        div{
          h3 {
          }
          form.directions_form {
          }
        }
        div{
          h3 {
          }
          button#current_position {
          }
        }        
      }
    }
    section#google-map-container.container {
      div.row {
        width: 960px;
        height: 500px;
        div#map-container {
          width: 100%;
          height: 100%;
          div#googleMap {
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
        div#directions-container {
          div#directions-panel {
          }
        }
      }
    }

    section#register {
      form#form-register {

      }
    }

    section#login {
      form#form-login {

      }
    }

    section#new-startup {
      form#form-new-startup {

      }
    }

    section#new-workspace {
      form#form-new-workspace {

      }
    }
  }
}
