@import '../materialize-src/sass/components/_color';
@import '_variables';

/* Overriding materialize's variables */

$primary-color:           #00bc66 !default; // $blue !default;
$primary-color-light:     lighten($primary-color, 15%) !default;
$primary-color-dark:      darken($primary-color, 15%) !default;
$secondary-color:         $pink !default;
$link-color:              color("light-blue", "darken-1") !default;
$blue:                    #009EFF;
$black:                   #222;
$button-color:            $primary-color !default;
$main-header-bg-color:    white !default; // $primary-color !default;
$footer-bg-color:         $primary-color !default;

/* cards */
// $card-padding: 20px !default;
// $card-bg-color: #fff !default;
// $card-link-color: color("orange", "accent-2") !default;
// $card-link-color-light: lighten($card-link-color, 20%) !default;

$card-bg-color:           white !default; // lighten($black, 35%); //color("purple", "lighten-1") !default;
$card-action-bg-color:    $secondary-color;//color("purple", "base") !default;
$card-reveal-bg-color:    white !default; //doesn't work! overwritten by $card-bg-color
$card-link-color:         #FFF !default; //'website text color'
$card-content-text-color: color("purple", "lighten-4") !default; //'main text'


$card-font-size-title:    2.5em !default;
$card-font-weight-title:  400 !default;
$card-font-size-button:   1.5em !default;
$card-font-weight-button: 400 !default;
$card-font-size-main:     1.2em !default;
$card-font-weight-main:   300 !default;

/* placeholder font color */
$input-border-color: $primary-color; // darken($blue, 30%);

.card {
  box-shadow: none !important;

  .small-icon {
    max-width:    30px;
    max-height:   30px;
  }
  .card-content {
    .card-title {
      font-size:      $card-font-size-title; 
      font-weight:    $card-font-weight-title;
      img {
        margin:       0 10px 0 0;
      }
    }
    .card-text {
      font-size:      $card-font-size-main; 
      font-weight:    $card-font-weight-main;
      .small-icon-container {
        display: inline-block;
        width:   30px;
      }
    }
  }
  .card-action {
    // background-color: $card-action-bg-color;
    a {
      font-size:      $card-font-size-button; 
      font-weight:    $card-font-weight-button;
    }

  } 
  .card-reveal {
    background-color: $card-reveal-bg-color;
    .card-title {
      font-size:      $card-font-size-title; 
      font-weight:    $card-font-weight-title;
    }
  }
  button, .btn {
    background-color: $secondary-color;
  }
}

/* End of overriding materialize's variables */
@import '../materialize-src/sass/materialize';


.main-header {
  background-color: $main-header-bg-color;
}

nav {
  ul {
    a {
      color: $black;
      font-size: 17px;
    }
  }
}

nav.main-header {
  a#brand-logo {
    height: 30px;
    img {
      max-height: 150%;
      max-width: 100%;
      margin-top: 5px;
    }
  }
}

footer {
  a#brand-logo {
    height: 64px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

#map-container {
  background-size: cover !important;
  background-position: center;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%; 
  background: #f6f6f6;
 
  // Style Placeholders
  ::-webkit-input-placeholder {
    color: $black; // $input-border-color;
    text-align: center;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $black; // $input-border-color;
    text-align: center;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $black; // $input-border-color;
    text-align: center;
  }

  :-ms-input-placeholder {
    color: $black; // $input-border-color;
    text-align: center;
  }

  .card-text {
    text-align: right;
    li {
      display: inline-block;
      padding: 10px;
    }
  }

  .add-place-to-form,
  .submit-form-button {
    width: 100% !important;
  }

  input#main-search-box {
    margin:        20px 0;
    border-bottom: 2px solid $primary-color;
    text-align:    center;
  }

  main {
    section#intro {
    width: 100%;
    height: 100vh;
    .intro-wrapper {
      width: 58%;
      margin: 0 auto;
      p {
        font-size: 1.4em;
      }
      p#intro-enter {
        color: #009EFF;
        font-weight: 900;
      }
    }

    #intro-tagline {
        font-size: 39px;
        font-weight: 900;
        color: #009EFF;
    }
    p {
      font-size: 2em;
      }
    }
    section#map {
      width: 100%;
      height: 100%;
      min-height: 500px;
      min-width: 500px;
      
      div#googleMap {
        width: 100%;
        height: 100%;
        min-height: 500px;
        min-width: 500px;
        position: relative;
      }
    }
    section#about {
      width: 100%;
      height: 100vh;
      .about-wrapper {
          width: 58%;
          margin: 0 auto;
        .about-text {
          font-size: 2em;
        }
      }
    }
  }
}


footer {
  ul {
    list-style-type: none;
    display: inline;
    position: relative;
    margin-left: -80px;
    li {
      display: inline;
      .fb-share-button {
        position: absolute;
        margin-left: 5px;
        bottom: 3px; 
      }
      div {
        display: inline-block;
      }
    }
  }
}

input.search-box {
  font-size:  1.8em;
  text-align: center;
}